* {
    box-sizing: border-box;
}



header{
    justify-content: center;
    text-align: center;

}

nav{
    justify-content: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: brown;
    
}

