*{
    box-sizing: border-box;
}
main{
    font-family: ;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(242, 247, 252);
}
header{
   background-color: rgb(153, 109, 70); 
   color: aliceblue;
   text-align: center;
   padding: 10px;
    border-radius: 10px;
}
nav{
   color: aliceblue; 
}

#fokep{
    width: 100%
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(134, 108, 84);
}

main {
    width: 80%;
    margin: auto;
    background: rgb(173, 143, 116);
    padding: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: rgb(153, 109, 70);
    color: rgb(0, 0, 0);
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 191, 159);
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgb(228, 191, 159);
}

article h2 {
    text-align: center;
}

.esemeny img {
    width: 100%;
    height: auto;
}

img{
    width: 100%;
}