body {
font-family: Georgia, serif;
background-color: #f4f1ee;
color: rgb(0, 0, 0);
margin: 0;
padding: 0;
}

header {
background-color: rgb(153, 109, 70);
color: white;
text-align: center;
padding: 20px;
}

main {
max-width: 900px;
margin: 20px auto;
padding: 20px;
background-color: #fff8f0;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
text-align: justify;
}

ol {
font-size: 18px;
line-height: 1.6;
}

li {
margin-bottom: 15px;
}

strong {
color: #201811;
}
