body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(153, 109, 70);
}

main {
    width: 80%;
    margin: auto;
    background: rgb(153, 109, 70);
    padding: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: rgb(153, 109, 70);
    color: rgb(0, 0, 0);
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 191, 159);
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgb(228, 191, 159);
}

article h2 {
    text-align: center;
}

.esemeny {
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding: 15px;
    background-color: rgb(228, 191, 159);
    border-radius: 10px;
}

.esemeny div {
    width: 60%;
}

.esemeny img {
    width: 300px;
    height: auto;
}

@media (max-width: 768px) {

    .esemeny div,
    .esemeny img {
        width: 100%;
    }

    .esemeny img {
        margin-top: 10px;
    }
}

#pestis{
    width: 300px;
    height: auto;
}

h1{
    color: black;
}

.templom{
   width: 60%;
}